<ion-view view-title="Inicio">

  <!-- <ion-nav-bar class="bar-stable">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Auditoria de productos
      </div>

      <ion-item href="#/app/ipos/prices">
        <i class="icon ion-arrow-right-a"></i>
        Precios
      </ion-item>

      <ion-item href="#/app/ipos/presence">
        <i class="icon ion-arrow-right-a"></i>
        Presencia
      </ion-item>

      <ion-item href="#/app/ipos/share">
        <i class="icon ion-arrow-right-a"></i>
        Share
      </ion-item>


      <div class="item item-divider">
        Estrategia
      </div>
      <ion-item href="#/app/alerts">
        <i class="ion ion-alert-circled"></i>
        Alertas
      </ion-item>

      <span ng-if="place_id">
        <div class="item item-divider">
          PRUEBAS
        </div>

        <ion-item href="#/app/alerts">
          <i class="ion ion-alert-circled"></i>
          {{place_id}}
        </ion-item>
      </span>

    </ion-list>

  </ion-content>

  <div class="tabs tabs-icon-left">
    <a class="tab-item" href="#/app/inout/near">
      <i class="icon ion-log-in"></i>
      Checkin
    </a>
    <a class="tab-item" href="#/app/inout/checkout/{{place_id}}">
      <i class="icon ion-log-out"></i>
      Checkout
    </a>
  </div>

</ion-view>
