<ion-view view-title="Inicio">
  <ion-content>
    <ion-list>

      <span ng-if="current_place">
        <div ng-include="'templates/components/companyfilter.html'"></div>

        <div class="item item-divider">
          Auditoria de productos
        </div>

        <ion-item href="#/app/ipos/prices">
          <i class="icon ion-arrow-right-a"></i>
          Precios
        </ion-item>

        <ion-item href="#/app/ipos/presence">
          <i class="icon ion-arrow-right-a"></i>
          Presencia
        </ion-item>

        <ion-item href="#/app/ipos/share">
          <i class="icon ion-arrow-right-a"></i>
          Share
        </ion-item>


        <div class="item item-divider">
          Estrategia
        </div>
        <ion-item href="#/app/alerts">
          <i class="ion ion-ios-bell"></i>
          Alertas
        </ion-item>
      </span>

      <span ng-if="!current_place">
        <ion-item>
          Haz un checkin abajo
        </ion-item>
      </span>

    </ion-list>

  </ion-content>

  <div class="tabs tabs-icon-left">
    <a class="tab-item" href="#/app/inout/near" ng-if="!place_id">
      <i class="icon ion-log-in"></i>
      Checkin
    </a>
    <a class="tab-item" href="#/app/inout/checkout/{{place_id}}" ng-if="place_id">
      <i class="icon ion-log-out"></i>
      Checkout
    </a>
  </div>

</ion-view>
