<ion-view view-title="Presencia">

  <ion-content>
    <div class="list">
      <div ng-include="'templates/components/companyfilter.html'"></div>

      <div class="item item-divider">
        <i class="ion ion-android-funnel"> </i>
      </div>

      <div ng-include="'templates/components/productfilter.html'"></div>

      <div class="item item-divider"></div>
    <!-- </div>

    <div class="list"> -->

      <div class="item item-thumbnail-left">
        <img src="https://s3.amazonaws.com/static.caloriecount.about.com/images/medium/mm-peanut-mms-183995.jpg">
        <h2>
          Producto
        </h2>
        <label class="item item-input item-select">
          <div id="_label-0" aria-label="
            Estado
            " class="input-label">
            Estado
          </div>
          <select>
            <option value="Disponible">
              Disponible
            </option>
            <option value="Ajuste" selected="">
              OOS - Ajuste
            </option>
            <option value="Green" selected="">
              OOS - Maestra
            </option>
            <option value="Green" selected="">
              OOS - Abastecimiento
            </option>
          </select>
        </label>

        <!-- <span class="item-note">
          <span style="line-height: 34px;font-size: 10px;float: left;">
            OFERTA
          </span>
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </span> -->
      </div>

      <div class="item">
        <button class="button button-stable button-full">
          Guardar
        </button>
      </div>

    </div>


    <ion-list>
      <!-- <ion-item href="#">
      <i class="icon ion-arrow-right-a"></i>
      Registro ingreso
    </ion-item>

    <ion-item href="#">
    <i class="icon ion-arrow-right-a"></i>
    Registro salida
  </ion-item>

  <ion-item href="#">
  <i class="icon ion-arrow-right-a"></i>
  Informe de presencias
</ion-item> -->

</ion-list>



</ion-content>
</ion-view>
