<ion-view view-title="Presencia">
  <div ng-controller="ProductsController">
    <form name="presenceDataForm" novalidate class="simple-form">
      <ion-content>
        <div class="list">
          <div ng-include="'templates/components/companyfilter.html'"></div>

          <div class="item item-divider"></div>

          <div ng-include="'templates/components/productfilter.html'"></div>

          <div class="item item-divider"></div>


          <ion-item class="item item-thumbnail-left" ng-repeat="pi in provision.product_instances | byCategoryId:this ">
            <img src="{{pi.product.image}}">
            <h2>
              {{pi.name}}
            </h2>

            <label class="item item-select" style="padding: 22px; height: 47px;">
              <select required ng-model="product[pi.id].status">
                <option value="">-Seleccione-</option>
                <option ng-repeat="status in productStatus" value="{{status.id}}">{{status.name}}</option>
              </select>
            </label>

          </label>

        </ion-item>

        <!-- <div ng-include="'templates/components/productsdebuger.html'"></div> -->

      </div>

    </ion-content>

    <div class="tabs tabs-icon-left" ng-if="presenceDataForm.$valid">
      <a class="tab-item" ng-click="savePresence(product)">
        <i class="icon ion-archive"></i>
        Guardar
      </a>
    </div>

  </form>
</div>

</ion-view>
