<ion-view view-title="Precios">

  <ion-content>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Cliente
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Cadena
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Local
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Categoria
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
    <!-- </div>

    <div class="list"> -->

      <div class="item item-thumbnail-left">
        <img src="https://s3.amazonaws.com/static.caloriecount.about.com/images/medium/mm-peanut-mms-183995.jpg">
        <h2>
          Producto
        </h2>
        <label class="item item-input" style="max-width: 50%; float: left;">
          <input type="text" placeholder="Precio" size="3">
        </label>

        <span class="item-note">
          <span style="line-height: 34px;font-size: 10px;float: left;">
            OFERTA
          </span>
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </span>
      </div>

      <div class="item">
        <button class="button button-stable button-full">
          Guardar
        </button>
      </div>

    </div>


    <ion-list>
      <!-- <ion-item href="#">
      <i class="icon ion-arrow-right-a"></i>
      Registro ingreso
    </ion-item>

    <ion-item href="#">
    <i class="icon ion-arrow-right-a"></i>
    Registro salida
  </ion-item>

  <ion-item href="#">
  <i class="icon ion-arrow-right-a"></i>
  Informe de presencias
</ion-item> -->

</ion-list>



</ion-content>
</ion-view>
