<ion-view view-title="Precios">

  <ion-content>
    <div class="list">
      <div ng-include="'templates/components/companyfilter.html'"></div>

      <div class="item item-divider">
      </div>

      <div ng-include="'templates/components/productfilter.html'"></div>

      <div class="item item-divider"></div>
      <!-- </div>

      <div class="list"> -->

      <!-- <div class="item"> -->
      <!-- <div class="item item-thumbnail-left">
        <img src="https://s3.amazonaws.com/static.caloriecount.about.com/images/medium/mm-peanut-mms-183995.jpg">
        <h2>
          Producto
        </h2>
        <label class="item item-input" style="max-width: 50%; float: left;">
          <input type="text" placeholder="Precio" size="3">
        </label>

        <span class="item-note">
          <span style="line-height: 34px;font-size: 10px;float: left;">
            OFERTA
          </span>
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </span>
      </div> -->

      <ion-item class="item item-thumbnail-left" ng-repeat="product in products">
        <img src="https://s3.amazonaws.com/static.caloriecount.about.com/images/medium/mm-peanut-mms-183995.jpg">
        <h2>
          {{product.attributes.created_at}}
        </h2>
        <label class="item item-input" style="max-width: 50%; float: left;">
          <input type="text" placeholder="Precio" size="3">
        </label>
      </ion-item>

    </div>
  </ion-content>

  <div class="tabs tabs-icon-left">
    <a class="tab-item">
      <i class="icon ion-archive"></i>
      Guardar
    </a>
  </div>

</ion-view>
