<ion-view view-title="Share">

  <div ng-controller="ProductsController">
    <form novalidate class="simple-form">
      <ion-content>
        <div class="list">
          <div ng-include="'templates/components/companyfilter.html'"></div>

          <div class="item item-divider"></div>

          <div ng-include="'templates/components/productfilter.html'"></div>

          <div class="item item-divider"></div>


          <ion-item class="item item-thumbnail-left" ng-repeat="pi in provision.product_instances | byCategoryId:this ">
            <img src="{{pi.product.image}}">
            <h2>
              {{pi.name}}
            </h2>

            <label class="item item-input" style="float: left;">
              <input type="text" placeholder="Caras" size="3" ng-model="product[pi.id].shelf_share">
            </label>

          </ion-item>

          <div ng-include="'templates/components/productsdebuger.html'"></div>

        </div>

      </ion-content>

      <div class="tabs tabs-icon-left">
        <a class="tab-item" ng-click="update(product)">
          <i class="icon ion-archive"></i>
          Guardar
        </a>
      </div>
    </form>
  </div>

</ion-view>
