<ion-view view-title="Checkout">
  <ion-content>
    <div class="success">
      <h1 class="title">
        <i class="ion-checkmark-circled"></i>
      </h1>
      <ul class="details">
        <li>
          {{ datetime | amDateFormat:'DD-MMM-YYYY HH:mm:ss' }}
        </li>
        <li>
          {{ address }}
        </li>
        <li>
          {{ position.latitude }}
        </li>
        <li>
          {{ position.longitude }}
        </li>
      </ul>
    </div>

  </ion-content>
</ion-view>
