<ion-view view-title="Checkin">
  <ion-content>
    <div class="success">
      <h1 class="title">
        <i class="ion-checkmark"></i>
      </h1>
      <ul class="details">
        <li>
          {{ checkin.attributes.created_at | amDateFormat:'DD-MMM-YYYY HH:mm:ss' }}
        </li>
      </ul>
    </div>

  </ion-content>

  <div class="tabs tabs-icon-left">
    <a class="tab-item" href="#/app/options">
      <i class="icon ion-log-in"></i>
      Ir al Dashboard
    </a>
  </div>

</ion-view>
