<label class="item item-input item-select">
  <div class="input-label">
    Cliente
  </div>
  <select>
    <option>Abbot</option>
    <option selected>Agrosuper</option>
    <option>Sopraval</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label">
    Cadena
  </div>
  <select>
    <option>Jumbo</option>
    <option selected>Lider</option>
    <option>Mayorista 10</option>
  </select>
</label>

<label class="item item-input item-select">
  <div class="input-label">
    Local
  </div>
  <select>
    <option>Las condes #111</option>
    <option selected>Recoleta #222</option>
    <option>Vicuña Mackenna #333</option>
  </select>
</label>
