<!-- <div class="row" style="text-align:center;">
  <div class="col">
    CLIENTE
  </div>
  <div class="col">
    CADENA
  </div>
  <div class="col">
    LOCAL
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col">
    Sopraval
  </div>
  <div class="col">
    Lider
  </div>
  <div class="col">
    La reina
  </div>
</div> -->
<div class="row" style="text-align:center;">
  <div class="col">
    LOCAL
  </div>
</div>

<div class="row" style="text-align:center;">
  <div class="col">
    {{current_place.address}}
  </div>
</div>
